#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Joel Hendrix                @jhendrixMSFT       Go
#####       Larry Osterman              @LarryOsterman      C / C++
#####       Heath Stewart               @HeathS             Rust
#####
#####   Engineering Systems:
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Ben Broderick Phillips      @benbp              Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Mayuri Diwan                @mayurid            Dev Management
#####       Samer Alameer               @salameer           Dev Management
#####       Lori Fraleigh               @lorifraleigh       PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Rick Winter                 @RickWinter         Dev Lead - C++, Go, and Rust
#####       Josh Free                   @joshfree           Dev Lead - Java
#####       Jeff Fisher                 @xirzec             Dev Lead - JavaScript
#####       Jesse Squire                @jsquire            Dev Lead - .NET
#####       Laurent Mazuel              @lmazuel            Dev Lead - Python
#####
#####   External language experts:
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Engineering systems documents
/docs/android/                   @JonathanGiles @salameer
/docs/clang/                     @JeffreyRichter @LarryOsterman @RickWinter
/docs/cpp/                       @LarryOsterman @RickWinter
/docs/dotnet/                    @KrzysztofCwalina @jsquire @christothes @salameer
/docs/general/                   @salameer
/docs/golang/                    @jhendrixMSFT @RickWinter
/docs/ios/                       @salameer
/docs/java/                      @JonathanGiles @salameer @srnagar
/docs/policies/                  @mikeharder @benbp
/docs/python/                    @johanste @salameer @annatisch
/docs/redirects/                 @lfraleigh
/docs/rust/                      @HeathS @LarryOsterman @RickWinter
/docs/tables/                    @bterlson @KrzysztofCwalina @JeffreyRichter @johanste @JonathanGiles
/docs/typescript/                @bterlson @salameer @xirzec
/eng/                            @mikeharder @benbp
/eng/common/                     @Azure/azure-sdk-eng
/eng/scripts/inventory-dashboard @mikeharder @benbp
/_posts/                         @lfraleigh
/_data/                          @mikeharder @benbp
/**/android.md                   @vcolin7 @anuchandy
/**/android.yml                  @vcolin7 @anuchandy
/**/android-packages.csv         @benbp @vcolin7 @anuchandy
/**/c.md                         @RickWinter
/**/c-packages.csv               @benbp @RickWinter
/**/cpp.md                       @antkmsft
/**/cpp.yml                      @antkmsft
/**/cpp-packages.csv             @benbp @antkmsft
/**/dotnet.md                    @JonathanCrd
/**/dotnet.yml                   @JonathanCrd
/**/dotnet-packages.csv          @benbp @JonathanCrd
/**/ios.md                       @vcolin7 @tjprescott
/**/ios.yml                      @vcolin7 @tjprescott
/**/ios-packages.csv             @benbp @vcolin7 @tjprescott
/**/java.md                      @jairmyree
/**/java.yml                     @jairmyree
/**/java-packages.csv            @benbp @jairmyree
/**/js.md                        @timovv
/**/js.yml                       @timovv
/**/js-packages.csv              @benbp @timovv
/**/python.md                    @kashifkhan
/**/python.yml                   @kashifkhan
/**/python-packages.csv          @benbp @kashifkhan
/**/go.md                        @benbp
/**/go.yml                       @benbp
/**/go-packages.csv              @benbp
/**/rust.md                      @heaths
/**/rust.yml                     @heaths
/**/rust-packages.csv            @benbp @heaths

################################################################################
# Event yml files and CODEOWNERS should be near the bottom of CODEOWNERS files #
################################################################################
/.github/skills/              @Azure/azsdk-cli
/.github/workflows/           @Azure/azure-sdk-eng
/.github/CODEOWNERS           @Azure/azure-sdk-eng

# Add owners for notifications for specific pipelines
/eng/common/pipelines/codeowners-linter.yml      @mikeharder @benbp
