#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Joel Hendrix                @jhendrixMSFT       Go
#####       Larry Osterman              @LarryOsterman      C / C++
#####       Heath Stewart               @HeathS             Rust
#####       Ronnie Geraghty             @ronniegeraghty     Program Management
#####
#####   Engineering Systems:
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Mayuri Diwan                @mayurid            Dev Management
#####       Samer Alameer               @salameer           Dev Management
#####       Lori Fraleigh               @lorifraleigh       PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Rick Winter                 @RickWinter         Dev Lead - C++, Go, and Rust
#####       Josh Free                   @joshfree           Dev Lead - Java
#####       Jeff Fisher                 @xirzec             Dev Lead - JavaScript
#####       Jesse Squire                @jsquire            Dev Lead - .NET
#####       Laurent Mazuel              @lmazuel            Dev Lead - Python
#####
#####   External language experts:
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Engineering systems documents
/docs/android/                @JonathanGiles @salameer
/docs/clang/                  @JeffreyRichter @LarryOsterman @RickWinter @ronniegeraghty
/docs/cpp/                    @LarryOsterman @RickWinter @ronniegeraghty
/docs/dotnet/                 @KrzysztofCwalina @annelo-msft @salameer @tg-msft
/docs/general/                @salameer
/docs/golang/                 @jhendrixMSFT @RickWinter
/docs/ios/                    @salameer
/docs/java/                   @JonathanGiles @salameer @srnagar
/docs/policies/               @Kurtzeborn @weshaggard @salameer
/docs/python/                 @johanste @salameer @annatisch
/docs/redirects/              @lfraleigh
/docs/rust/                   @HeathS @LarryOsterman @RickWinter @ronniegeraghty
/docs/tables/                 @bterlson @KrzysztofCwalina @JeffreyRichter @johanste @JonathanGiles
/docs/typescript/             @bterlson @salameer @xirzec
/eng/                         @weshaggard
/eng/common/                  @Azure/azure-sdk-eng
/eng/scripts/inventory-dashboard         @ronniegeraghty
/_posts/                      @lfraleigh
/_data/                       @ronniegeraghty @weshaggard
/**/android.md                   @ronniegeraghty @vcolin7 @anuchandy
/**/android.yml                  @ronniegeraghty @vcolin7 @anuchandy
/**/android-packages.csv         @ronniegeraghty @weshaggard @vcolin7 @anuchandy @scottaddie
/**/c.md                         @ronniegeraghty @RickWinter
/**/c-packages.csv               @ronniegeraghty @weshaggard @RickWinter @scottaddie
/**/cpp.md                       @ronniegeraghty @antkmsft
/**/cpp.yml                      @ronniegeraghty @antkmsft
/**/cpp-packages.csv             @ronniegeraghty @weshaggard @antkmsft @scottaddie
/**/dotnet.md                    @ronniegeraghty @JonathanCrd
/**/dotnet.yml                   @ronniegeraghty @JonathanCrd
/**/dotnet-packages.csv          @ronniegeraghty @weshaggard @JonathanCrd @scottaddie
/**/ios.md                       @ronniegeraghty @vcolin7 @tjprescott
/**/ios.yml                      @ronniegeraghty @vcolin7 @tjprescott
/**/ios-packages.csv             @ronniegeraghty @weshaggard @vcolin7 @tjprescott @scottaddie
/**/java.md                      @ronniegeraghty @jairmyree
/**/java.yml                     @ronniegeraghty @jairmyree
/**/java-packages.csv            @ronniegeraghty @weshaggard @jairmyree @scottaddie
/**/js.md                        @ronniegeraghty @timovv
/**/js.yml                       @ronniegeraghty @timovv
/**/js-packages.csv              @ronniegeraghty @weshaggard @timovv @scottaddie
/**/python.md                    @ronniegeraghty @kashifkhan
/**/python.yml                   @ronniegeraghty @kashifkhan
/**/python-packages.csv          @ronniegeraghty @weshaggard @kashifkhan @scottaddie
/**/go.md                        @ronniegeraghty @gracewilcox
/**/go.yml                       @ronniegeraghty @gracewilcox
/**/go-packages.csv              @ronniegeraghty @weshaggard @gracewilcox @scottaddie
/**/rust.md                      @ronniegeraghty @heaths
/**/rust.yml                     @ronniegeraghty @heaths
/**/rust-packages.csv            @ronniegeraghty @weshaggard @heaths

################################################################################
# Event yml files and CODEOWNERS should be near the bottom of CODEOWNERS files #
################################################################################
/.github/workflows/           @Azure/azure-sdk-eng
/.github/CODEOWNERS           @Azure/azure-sdk-eng
