#####
##### TEAM:
#####
#####   Architecture:
#####       Brian Terlson               @bterlson           TypeScript / JavaScript
#####       Jeffrey Richter             @JeffreyRichter     At large
#####       Jonathan Giles              @JonathanGiles      Java
#####       Krzysztof Cwalina           @KrzysztofCwalina   .NET
#####       Johan Stenberg              @johanste           Python
#####       Gor Nishanov                @gornishanov        C / C++
#####       Adrian Hall                 @adrianhall         Program Management
#####
#####   Engineering Systems:
#####       Maggie Pint                 @maggiepint         Program Management
#####       Mike Harder                 @mikeharder         Eng. Sys. Engineer
#####       Wes Haggard                 @weshaggard         Eng. Sys. Engineer
#####
#####   Team Management:
#####       Peter Marcu                 @petermarcu         Dev Management
#####       Larry Olson                 @loarabia           PM Management
#####       Scott Kurtzeborn            @Kurtzeborn         Eng. Sys. Dev Lead
#####       Alex Ghiondea               @AlexGhiondea       Dev Lead - TS and .NET
#####       Mayuri Diwan                @mayurid            Dev Lead - Python and Java
#####
#####   External language experts:
#####       Anna Tisch                  @annatisch          Python
#####       Asir Vedamuthu Selvasingh   @Selvasingh         Java
#####       Brian Holt                  @btholt             JavaScript
#####       Bruno Borges                @brunoborges        Java
#####       Bryan Van de Ven            @bryevdv            Python
#####       Chris Dias                  @chrisdias          JavaScript
#####       David Fowler                @davidfowl          .NET
#####       Daniel Moth                 @DanielMoth         Python
#####       Matt Hernandez              @fiveisprime        JavaScript
#####       Steve Dower                 @zooba              Python
#####
#####
##### REVIEW REQUIREMENTS:
##### * The author of the PR is not a valid reviewer.
##### * All general guidelines must be approved by three architects (other than the author).
##### * All per-language guidelines must be approved by the assigned language architect plus
#####     one other language-specific person.  If the assigned language architect is the author
#####     of the PR, then only one other language-specific person needs to approve the PR.
##### * Engineering Systems PRs must be approved by two engineering systems team members.
#####

# Engineering systems documents
docs/android/                @adrianhall,@JonathanGiles
docs/clang/                  @adrianhall,@JeffreyRichter
docs/dotnet/                 @KrzysztofCwalina
docs/general/                @adrianhall
docs/golang/                 @JeffreyRichter
docs/java/                   @JonathanGiles
docs/policies/               @maggiepint,@Kurtzeborn,@weshaggard,@mikeharder
docs/python/                 @johanste
docs/redirects/              @adrianhall
docs/tables/                 @adrianhall
docs/typescript/             @bterlson
eng/                         @weshaggard
releases/                    @adrianhall,@loarabia
_posts/                      @adrianhall,@loarabia
