{
  "InitialIssueTriage": "On",
  "ManualIssueTriage": "On",
  "ServiceAttention": "Off",
  "ManualTriageAfterExternalAssignment": "Off",
  "RequireAttentionForNonMilestone": "Off",
  "AuthorFeedbackNeeded": "Off",
  "IssueAddressed": "Off",
  "IssueAddressedReset": "Off",
  "AuthorFeedback": "Off",
  "ReopenIssue": "Off",
  "DeclineToReopenIssue": "Off",
  "IssueAddressedCommands": "Off",
  "PullRequestTriage": "Off",
  "ResetApprovalsForUntrustedChanges": "On",
  "ReopenPullRequest": "On",
  "ResetIssueActivity": "Off",
  "ResetPullRequestActivity": "On",
  "CloseStaleIssues": "Off",
  "CloseStalePullRequests": "On",
  "IdentifyStaleIssues": "Off",
  "IdentifyStalePullRequests": "On",
  "CloseAddressedIssues": "Off",
  "LockClosedIssues": "Off"
}
