<footer>
    <div class="container-fluid">
        <div class="row footer">
            <div class="col-lg-6 text-left pb-1">
           &copy;{{ site.time | date: "%Y"  }} {{site.company_name}}. All rights reserved. 
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
            </div>
            <div class="col-lg-6 text-right">
                <p><img src="{{ "/images/company_logo.png" | relative_url }}" width="100px" alt="Microsoft logo"/></p>
            </div>
        </div>
    </div>
</footer>
