<table>
<tr>
  <th>Service</th>
  <th>Package</th>
  <th>Documentation</th>
  <th>Source</th>
</tr>
{% for item in packages %}

{% if item.VersionGA != "" %}
<tr>
{% if item.VersionPreview == "" %}
  <td>{{ item.Service }}</td>
{% else %}
  <td rowspan="2">{{ item.Service }}</td>
{% endif %}
  <td><a href="https://www.npmjs.com/package/@azure/{{ item.Package }}/v/{{ item.VersionGA }}"><img alt="{{ item.Package }}" src="https://img.shields.io/static/v1?label=npm&message={{ item.VersionGA }}&color=blue" /></a></td>
  <td><a href="https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-{{ item.Package }}/{{ item.VersionGA }}/index.html"><img alt="{{ item.Package }} Docs" src="https://img.shields.io/static/v1?label=github.io&message={{ item.VersionGA }}&color=blue" /></a></td>
  <td><a href="https://github.com/Azure/azure-sdk-for-js/tree/@azure/{{ item.Package }}_{{ item.VersionGA }}/sdk/{{ item.RepoPath }}/{{ item.Package }}/"><img alt="{{ item.Package }} Source" src="https://img.shields.io/static/v1?label=github&message={{ item.VersionGA }}&color=blue" /></a></td>
</tr>
{% endif %}

{% if item.VersionPreview != "" %}
<tr>
{% if item.VersionGA == "" %}
  <td>{{ item.Service }}</td>
{% endif %}
  <td><a href="https://www.npmjs.com/package/@azure/{{ item.Package }}/v/{{ item.VersionPreview }}"><img alt="{{ item.Package }}" src="https://img.shields.io/static/v1?label=npm&message={{ item.VersionPreview }}&color=lightgrey" /></a></td>
  <td><a href="https://azuresdkdocs.blob.core.windows.net/$web/javascript/azure-{{ item.Package }}/{{ item.VersionPreview }}/index.html"><img alt="{{ item.Package }} Docs" src="https://img.shields.io/static/v1?label=github.io&message={{ item.VersionPreview }}&color=lightgrey" /></a></td>
  <td><a href="https://github.com/Azure/azure-sdk-for-js/tree/@azure/{{ item.Package }}_{{ item.VersionPreview }}/sdk/{{ item.RepoPath }}/{{ item.Package }}/"><img alt="{{ item.Package }} Source" src="https://img.shields.io/static/v1?label=github&message={{ item.VersionPreview }}&color=lightgrey" /></a></td>
</tr>
{% endif %}

{% endfor %}
</table>