body.madoko {
  font-size: 16px;
  font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma,
    Arial, sans-serif;
}

.must,
.mustnot,
.should,
.shouldnot,
.may,
.optional,
.note,
.todo,
.example {
  position: relative;
}

.todo {
  font-size: 80%;
  color: #666;
}

.req-label {
  position: absolute;
  right: 100%;
  width: 100px;
  text-align: right;
  padding-right: 10px;
}

a.req-label {
  text-decoration: none;
}

.example {
  background-color: #eee;
  padding: 0 5px 5px 5px;
}

:target {
  background-color: #ffff00a1;
  padding: 10px;
  border: black;
  border-width: 1px;
  border-style: dashed;
}

.madoko code.code,
.madoko span.code,
.madoko pre code {
  color: #aa0000;
  font-weight: 700;
}
.madoko p {
  text-align: left;
}

.draft {
  background-color: rgb(219, 214, 183);
  padding: 0 5px 5px 5px;
}

.draft-header {
  font-weight: bold;
  font-size: 150%;
}
